.title {
  font-family: var(--ISemiBold);
  font-size: 22px;
}


/* кнопки */

.hero-btn_dark {
  width: 100%;
  font-family: var(--IRegular);
  font-size: 16px;
  padding: 12px 10px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  color: var(--standart-color);
  background-color: var(--text-color-dark);
  transition: .3s ease-in;
  -webkit-transition: .3s ease-in;
  -moz-transition: .3s ease-in;
  -ms-transition: .3s ease-in;
  -o-transition: .3s ease-in;
}

/* зеленая кнопка */

.hero-btn_green {
  display: inline-block;
  position: relative;
  padding: 12px 10px;
  width: 100%;
  font-family: var(--IMedium);
  font-size: 16px;
  text-align: center;
  background-color: var(--accent-bg);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  transition: .3s ease-in;
  -webkit-transition: .3s ease-in;
  -moz-transition: .3s ease-in;
  -ms-transition: .3s ease-in;
  -o-transition: .3s ease-in;
}

.hero-btn_green>div {
  position: absolute;
  right: 10px;
  top: 8px;
}

.hero-btn-svg>path {
  fill: var(--accent-bg);
  transition: .3s ease-in;
  -webkit-transition: .3s ease-in;
  -moz-transition: .3s ease-in;
  -ms-transition: .3s ease-in;
  -o-transition: .3s ease-in;
}

.btn {
  display: inline-block;
  width: 100%;
  font-family: var(--ISemiBold);
  font-size: 16px;
  padding: 13px 15px;
  text-align: center;
}

.btn_green {
  background-color: var(--accent-bg);
  border: 1.5px solid var(--text-color-dark);
  color: var(--text-color-dark);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  transition: .3s ease-in;
  -webkit-transition: .3s ease-in;
  -moz-transition: .3s ease-in;
  -ms-transition: .3s ease-in;
  -o-transition: .3s ease-in;
}

.btn_transparent {
  width: 100%;
  /* padding: 10px; */
  border: 1.5px solid var(--text-color-dark);
  color: var(--text-color-dark);
  border-radius: 30px;
  background-color: transparent;
  transition: .3s ease-in;
  -webkit-transition: .3s ease-in;
  -moz-transition: .3s ease-in;
  -ms-transition: .3s ease-in;
  -o-transition: .3s ease-in;
}

@media(min-width:1024px) {

  /* кнопки  */
  .hero-btn_dark {
    width: auto;
    font-family: var(--IRegular);
    font-size: 18px;
    padding: 12px 38px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    color: var(--standart-color);
    background-color: var(--text-color-dark);
  }

  .btn {
    width: auto;
    font-size: 20px;
    padding: 12px 44px;
    text-align: center;
  }

  .hero-btn_green {
    padding: 11px 47px 11px 12px;
    width: auto;
    font-size: 18px;
    border: 1.5px solid var(--text-color-dark);

  }

  .hero-btn_green>div {
    position: absolute;
    right: 12.5px;
    top: 8px;
  }

  .btn_transparent {
    width: 100%;
  }
}

@media(min-width:1200px) {
  .title {
    font-size: 30px;
  }
}

.catalog__title {
  margin-bottom: 40px;
}

@media(hover: hover) {

  /* кнопки */
  .hero-btn_dark:hover {
    color: var(--text-color);
    background-color: var(--accent-bg);
  }

  .hero-btn_green:hover {
    background-color: var(--standart-color);
  }

  .hero-btn_green:hover>div>.hero-btn-svg>path {
    fill: var(--standart-color);
  }

  .btn_green:hover {
    background-color: var(--standart-color);

  }

  .btn_transparent:hover {
    color: var(--standart-color);
    background-color: var(--btn-bg);
    border: 1.5px solid transparent;
  }
}