.header {
  position: relative;
  width: 100%;
  height: 30px;
  background-color: var(--main-bg);
  z-index: 5;
  padding-top: 30px;
}

.header__inner {
  position: relative;
}

.header__body.active {
  left: 0;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header__contacts {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__contacts-link {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header__contacts-link-icon {
  fill: var(--text-color);
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.header__contacts-link {
  font-family: var(--IRegular);
  font-size: 18px;
  color: var(--text-color);
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.header__list-link {
  position: relative;
  font-family: var(--IRegular);
  font-size: 18px;
  color: var(--text-color);
  transition: 0.3s linear;
  cursor: pointer;
  line-height: 1;
  transition: 0.3s linear;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
}

.header__list-link:after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--btn-bg);
  content: "";
  transition: width 0.3s ease-out;
}

.burger {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 75px;
  height: 24px;
  top: -10px;
  left: 0px;
  z-index: 20;
}

.burger>span {
  font-family: var(--IMedium);
  font-size: 14px;
}

.burger__line-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: relative;
  width: 35px;
  height: 35px;
}

.burger__line {
  width: 100%;
  height: 2px;
  background-color: var(--text-color);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  transition: .3s linear;
  -webkit-transition: .3s linear;
  -moz-transition: .3s linear;
  -ms-transition: .3s linear;
  -o-transition: .3s linear;

}

.burger.active .burger__line-box>.burger__line:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
  -webkit-transform: translateY(7px) rotate(45deg);
  -moz-transform: translateY(7px) rotate(45deg);
  -ms-transform: translateY(7px) rotate(45deg);
  -o-transform: translateY(7px) rotate(45deg);
}

.burger.active .burger__line-box>.burger__line:nth-child(2) {
  opacity: 0;
}

.burger.active .burger__line-box>.burger__line:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
  -webkit-transform: translateY(-7px) rotate(-45deg);
  -moz-transform: translateY(-7px) rotate(-45deg);
  -ms-transform: translateY(-7px) rotate(-45deg);
  -o-transform: translateY(-7px) rotate(-45deg);
}

@media (hover:hover) {
  .header__contacts-link:hover {
    color: var(--btn-bg);
  }

  .header__list-link:hover {
    color: var(--btn-bg);
  }

  .header__contacts-link:hover .header__contacts-link-icon {
    fill: var(--btn-bg);
  }

  .header__list-link:hover {
    background-size: 100% 2px;
  }

  .header__list-link:hover:after,
  .header__list-link:focus:after {
    width: 100%;
  }

}

@media only screen and (max-width:990px) {
  .header__body {
    position: fixed;
    left: -1000px;
    display: flex;
    flex-direction: column;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.5);
    /* background-color: var(--main-bg); */
    z-index: 15;
    width: 100%;
    height: 100%;
    top: 0;
    padding: 10px 10px;
    z-index: 1;
    transition: .5s linear;
    -webkit-transition: .5s linear;
    -moz-transition: .5s linear;
    -ms-transition: .5s linear;
    -o-transition: .5s linear;
  }

  .header__contacts {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

  }

  .header__list {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

  }

  .header__contacts-link {
    display: flex;
    flex-direction: row-reverse;
  }

  .header__contacts-link:first-child {
    display: flex;
    flex-direction: row;
  }
}

@media(min-width:1024px) {
  .header {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: var(--main-bg);
    z-index: 5;
    padding-top: 0;
    margin-top: 30px;
  }

  .header__body {
    display: flex;
    justify-content: space-between;
  }

  .burger {
    display: none;
  }

  .header__contacts-link:first-child {
    margin-right: 0px;
  }

}

@media(min-width:1200px) {
  .header__list {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .header__contacts {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .header__contacts-link {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .header__contacts-link:first-child {
    margin-right: 50px;
  }
}