/* модальное окно  */
.catalog__modal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 18px;
  left: 0;
  display: none;
}

.catalog-popup-close {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 30px;
  font-size: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: transparent;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  cursor: pointer;
  outline: 1px solid transparent;
  outline-offset: 3px;
  transition: outline-color .15s ease-in-out;
  -webkit-transition: outline-color .15s ease-in-out;
  -moz-transition: outline-color .15s ease-in-out;
  -ms-transition: outline-color .15s ease-in-out;
  -o-transition: outline-color .15s ease-in-out;
  z-index: 5;
}

.catalog-popup-close:focus-visible {
  outline-color: var(--btn-bg);
}

.catalog-popup-box {
  position: relative;
  max-height: 460px;
  min-height: 460px;
  /* margin: auto 0; */
  width: 100%;
  top: 0;
  border-radius: 10px;
  /* padding: 35px 10px 10px 0px; */
  background-color: rgba(255, 255, 255, 1);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  z-index: 5;
}

.catalog-tabs {
  max-width: 173px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: auto;
  padding: 35px 0 0 10px;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.25);
  border-right: 1px solid rgba(231, 231, 231, 1);
}

.catalog-tabs__title {
  position: relative;
  font-family: var(--IRegular);
  font-size: 16px;
  cursor: pointer;
  text-align: left;
  transition: all 0.3s ease;
  text-wrap: pretty;
}

.catalog-tabs-content__link {
  font-family: var(--IRegular);
  font-size: 14px;
  color: var(--text-color);
  text-align: left;
}

.catalog-tabs__content-box {
  overflow: auto;
}

.catalog-tabs__content {
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  min-height: 300px;
  padding: 35px 10px 0 0;
}

.catalog-tabs-content__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.catalog-tabs__content.active {
  display: block;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
}

.catalog-tabs__title.active {
  color: var(--btn-bg);
}


@media (min-width:360px) {

  .catalog-tabs__title.active {
    color: var(--btn-bg);
    border-left: 2px solid var(--btn-bg);
    padding-left: 5px;
  }
}

@media (min-width:760px) {
  .catalog-tabs-content__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 30px;
  }

  .catalog-tabs-content__item {}
}

@media (min-width:1024px) {
  .catalog-tabs {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .catalog-tabs-content__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    gap: 20px;
  }

  .catalog-tabs__title {
    font-size: 20px;
  }

  .catalog-tabs-content__link {
    font-size: 18px;
  }

}

@media (min-width:1200px) {
  .catalog-tabs__title.active {
    color: var(--btn-bg);
    font-weight: 600;
    border-left: 2px solid var(--btn-bg);
    padding-left: 5px;
  }

  .catalog-tabs {
    box-shadow: 0 0 0 0 transparent;
    border-right: 0 solid transparent;
    flex: 1 1 auto;
  }

  .catalog__modal {
    width: auto;
    height: auto;
    top: 15px;
    left: 345px;
  }

  .catalog-popup-box {
    min-width: 830px;
    min-height: auto;
    width: auto;
    margin: auto;
    padding: 40px 15px 20px 15px;
    gap: 40px;
  }

  .catalog-tabs__content-box {
    flex: 1 1 auto;
  }

  .catalog-tabs-content__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
    gap: 20px;
  }

}

@media (min-width:1400px) and (max-width:1440px) {




  .catalog-popup-box {
    min-width: 1000px;
  }

  .catalog-tabs-content__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    gap: 20px;
  }

}

@media (min-width:1440px) {
  .catalog__modal {
    width: auto;
    height: auto;
    top: 15px;
    left: 350px;
  }

  .catalog-tabs {
    box-shadow: 0 0 0 0 transparent;
    border-right: 0 solid transparent;
    flex: 1 1 auto;
  }

  .catalog-popup-box {
    min-width: 1055px;
    min-height: auto;
    width: auto;
    margin: auto;
    padding: 40px 15px 20px 15px;
    gap: 40px;
  }

  .catalog-tabs__content-box {
    flex: 1 1 auto;
  }

  .catalog-tabs-content__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    gap: 20px;
  }

}